*{box-sizing: border-box;
}

h1 {	font-family: lobster, sans-serif;
		display:flex;
		justify-content: center;
		padding: 30px;
		border-radius: 5px;
		color:white;
}

body {background-image: url("solarsystem.jpg");
	image-opacity:0.1;
	color:white;
	font-size: 1.3em;}

#directions {
			display:grid;
			text-align: center;
			color:white;
			height: 50px;
}

.grid-container {border: 1px solid red;}

.grid-item {border: 1px solid green;
			width: 600px;}

.grid-item2 {border: 1px solid red;
			float: right;
			margin-bottom: 900px;}

#text {text-align: left;
width: 600px;}



.button {	color:black;
			}

a 	{	padding-bottom: 20px;
		padding: 0px;
		border: 1px solid black;
		border-radius: 10px;
		text-decoration: none;
		box-shadow: 0px 5px;
		background-color: rgb(255, 255, 235);
		font-family: 'lobster','Raleway', sans-serif;
		width: 300px;
		}
	
a:hover{
		color: rgb(10, 10, 10);
		font-size: 25px;
}

a:active{
		margin-top:5px;
		color: rgb(10, 10, 10);
		box-shadow: 0px 0px;
}

.page {	text-align: center;}

#text {	height: 400px;}







#foot {	color: black;
		}
